

.container > section {
  width: 100%;
  padding: 21px;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.container section article {
  padding: 0;
  width: 100%;
  min-height: 140px;
  margin: 4px 0px 14px;
  background-color: #F0D8A8; 
  border: 2px solid #996633; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.container header div {
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.container header {
  display: flex;
  margin-bottom: 21px;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin: 0 0 7px 0;
  color: #996633; 
  font-family: 'Disney Script', cursive; 
}

.container header > p {
  margin: 0;
  opacity: 1;
  font-weight: 800;
  color: #996633; 
  margin: 7px 0px 14px 0px;
}

.container header button,
.container header a {
  width: 100px;
  height: 30px;
  font-size: 10px;
  font-weight: 500;
  background: none;
  border-radius: 10px;
  border: 2px solid #996633; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 0 0 7px;
}

/* Button icon styling */
.container header button img,
.container header a img {
  width: 24px;
  height: 24px;
  opacity: 0.25;
}

.container header button:hover,
.container header a:hover {
  background-color: #996633; 
}

.container header button:hover img,
.container header a:hover img {
  filter: invert(1);
  opacity: 1;
}

.container header button:active {
  background-color: #663300;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}


.container form {
  padding: 5;
  display: flex;
  border: none;
  max-width: 100%;
  box-shadow: none;
  flex-direction: row;
  align-items: center;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.container form input,
.container form textarea {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 14px 0px 14px 0px;
  border: 1px solid #996633; /* Brown border */
  background-color: #FFE7BA; /* Soft cream color */
}

.container form textarea {
  min-height: 50px;
}

.container form button {
  color: white;
  font-weight: 600;
  background: #996633; 
  width: 200px;
  height: 20px;
  margin: 0 0 0 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form button img {
  width: 20px;
  height: 25px;
}
